<?xml version="1.0" encoding="UTF-8"?>
<!-- system information generated for COMP335@MQ, S1-06May, 2019 -->
<system>
	<servers>
		<server type="medium" limit="2" bootupTime="60" rate="0.40" coreCount="2" memory="16000" disk="64000" />
		<server type="small" limit="2" bootupTime="60" rate="0.20" coreCount="1" memory="4000" disk="16000" />
	</servers>
</system>
